PORT=4000
FRONTEND_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=re_DUW8Vda8_BA2R5rfxanFnPiherEJRDi1L
RESEND_FROM_EMAIL=IntegriScan <onboarding@integriscan.dev>
OFFICER_INVITE_BASE_URL=integriscan://onboard
